<div class="row border rounded">
  <div class="col-2">
    <div class="text-center"><i class="up-arrow fas fa-arrow-up"></i></div>
    <div class="text-center">122</div>
    <div class="text-center">votes</div>
  </div>
  <div class="col">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et mi venenatis quam laoreet tempus.
  </div>
</div>
